<launch>
  
  <rosparam param="namespaces">
  ["robot_0", "robot_1", "robot_2", "robot_3", "robot_4",
  "robot_5", "robot_6", "robot_7"]
  </rosparam>

<!-- Init the stage
  <node name="map_server" pkg="map_server" type="map_server" args = "$(find planning_package)/world/maze.yml"/>

  <node name="stage_ros" pkg="stage_ros" type="stageros" args="$(find planning_package)/world/maze.world"/>
-->

<!-- Start the global planner-->
  <node name="global" pkg="planning_package" type="global.py" respawn="false" output="screen" />

<!-- Start all the nodes-->
  <group ns = "robot_0">
    <node pkg="tf" type="static_transform_publisher" name="link0_broadcaster" args="2.0 2.0 0.0 0.0 0.0 0.0 /map /robot_0/odom 100" />
    <!--
    <node name="robot_node" pkg="planning_package" type="robot.py" respawn="false" output="screen" />
    -->
  </group>

  <group ns = "robot_1">x
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="5.0 7.0 0.0 0.0 0.0 0.0 /map /robot_1/odom 100" />
  </group>

  <group ns = "robot_2">
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="2.5 5.0 0.0 0.0 0.0 0.0 /map /robot_2/odom 100" />
  </group>

  <group ns = "robot_3">
    <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="4.0 2.0 0.0 0.0 0.0 0.0 /map /robot_3/odom 100" />
  </group>

  <group ns = "robot_4">
    <node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="1.0 8.0 0.0 0.0 0.0 0.0 /map /robot_4/odom 100" />
  </group>

  <group ns = "robot_5">
    <node pkg="tf" type="static_transform_publisher" name="link5_broadcaster" args="1.5 9.5 0.0 0.0 0.0 0.0 /map /robot_5/odom 100" />
  </group>

  <group ns = "robot_6">
    <node pkg="tf" type="static_transform_publisher" name="link6_broadcaster" args="1.0 4.0 0.0 0.0 0.0 0.0 /map /robot_6/odom 100" />
  </group>

</launch>